In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import seaborn as sns
%matplotlib inline

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('weatherAUS.csv')

In [5]:
df.shape

(145460, 23)

In [6]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [7]:
col_names = df.columns

In [8]:
col_names

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [10]:
categorical = [var for var in df.columns if df[var].dtype == 'O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :', categorical)

There are 7 categorical variables

The categorical variables are : ['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

In [11]:
df[categorical].head()

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,W,W,WNW,No,No
1,2008-12-02,Albury,WNW,NNW,WSW,No,No
2,2008-12-03,Albury,WSW,W,WSW,No,No
3,2008-12-04,Albury,NE,SE,E,No,No
4,2008-12-05,Albury,W,ENE,NW,No,No

### Exploring problems within categorical variables

In [12]:
df[categorical].isnull().sum()

Date                0
Location            0
WindGustDir     10326
WindDir9am      10566
WindDir3pm       4228
RainToday        3261
RainTomorrow     3267
dtype: int64

In [13]:
cat1 = [var for var in categorical if df[var].isnull().sum() != 0]

print(df[cat1].isnull().sum())

WindGustDir     10326
WindDir9am      10566
WindDir3pm       4228
RainToday        3261
RainTomorrow     3267
dtype: int64

### Frequency counts of categorical variables

In [14]:
for var in categorical:
    print(df[var].value_counts())

2013-09-14    49
2013-04-04    49
2016-10-03    49
2015-08-19    49
2016-02-11    49
              ..
2008-01-21     1
2008-01-02     1
2007-11-10     1
2007-11-04     1
2007-12-03     1
Name: Date, Length: 3436, dtype: int64
Canberra            3436
Sydney              3344
Melbourne           3193
Darwin              3193
Hobart              3193
Adelaide            3193
Brisbane            3193
Perth               3193
Cairns              3040
AliceSprings        3040
Bendigo             3040
Launceston          3040
MountGinini         3040
Albury              3040
Albany              3040
MountGambier        3040
Ballarat            3040
Wollongong          3040
GoldCoast           3040
Townsville          3040
Penrith             3039
Newcastle           3039
Tuggeranong         3039
NorfolkIsland       3009
Williamtown         3009
Mildura             3009
MelbourneAirport    3009
Moree               3009
BadgerysCreek       3009
CoffsHarbour        3009
SydneyAirport       3009
Portland            3009
Cobar               3009
WaggaWagga          3009
Richmond            3009
Watsonia            3009
PearceRAAF          3009
Nuriootpa           3009
Sale                3009
Dartmoor            3009
Woomera             3009
Witchcliffe         3009
PerthAirport        3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Uluru               1578
Katherine           1578
Nhil                1578
Name: Location, dtype: int64
W      9915
SE     9418
N      9313
SSE    9216
E      9181
S      9168
WSW    9069
SW     8967
SSW    8736
WNW    8252
NW     8122
ENE    8104
ESE    7372
NE     7133
NNW    6620
NNE    6548
Name: WindGustDir, dtype: int64
N      11758
SE      9287
E       9176
SSE     9112
NW      8749
S       8659
W       8459
SW      8423
NNE     8129
NNW     7980
ENE     7836
NE      7671
ESE     7630
SSW     7587
WNW     7414
WSW     7024
Name: WindDir9am, dtype: int64
SE     10838
W      10110
S       9926
WSW     9518
SSE     9399
SW      9354
N       8890
WNW     8874
NW      8610
ESE     8505
E       8472
NE      8263
SSW     8156
NNW     7870
ENE     7857
NNE     6590
Name: WindDir3pm, dtype: int64
No     110319
Yes     31880
Name: RainToday, dtype: int64
No     110316
Yes     31877
Name: RainTomorrow, dtype: int64

In [15]:
# view frequency distribution of categorical variables

for var in categorical:
    print(df[var].value_counts() / np.float(len(df)))

2013-09-14    0.000337
2013-04-04    0.000337
2016-10-03    0.000337
2015-08-19    0.000337
2016-02-11    0.000337
                ...
2008-01-21    0.000007
2008-01-02    0.000007
2007-11-10    0.000007
2007-11-04    0.000007
2007-12-03    0.000007
Name: Date, Length: 3436, dtype: float64
Canberra            0.023622
Sydney              0.022989
Melbourne           0.021951
Darwin              0.021951
Hobart              0.021951
Adelaide            0.021951
Brisbane            0.021951
Perth               0.021951
Cairns              0.020899
AliceSprings        0.020899
Bendigo             0.020899
Launceston          0.020899
MountGinini         0.020899
Albury              0.020899
Albany              0.020899
MountGambier        0.020899
Ballarat            0.020899
Wollongong          0.020899
GoldCoast           0.020899
Townsville          0.020899
Penrith             0.020892
Newcastle           0.020892
Tuggeranong         0.020892
NorfolkIsland       0.020686
Williamtown         0.020686
Mildura             0.020686
MelbourneAirport    0.020686
Moree               0.020686
BadgerysCreek       0.020686
CoffsHarbour        0.020686
SydneyAirport       0.020686
Portland            0.020686
Cobar               0.020686
WaggaWagga          0.020686
Richmond            0.020686
Watsonia            0.020686
PearceRAAF          0.020686
Nuriootpa           0.020686
Sale                0.020686
Dartmoor            0.020686
Woomera             0.020686
Witchcliffe         0.020686
PerthAirport        0.020686
Walpole             0.020665
NorahHead           0.020652
SalmonGums          0.020631
Uluru               0.010848
Katherine           0.010848
Nhil                0.010848
Name: Location, dtype: float64
W      0.068163
SE     0.064746
N      0.064024
SSE    0.063358
E      0.063117
S      0.063028
WSW    0.062347
SW     0.061646
SSW    0.060058
WNW    0.056730
NW     0.055837
ENE    0.055713
ESE    0.050681
NE     0.049038
NNW    0.045511
NNE    0.045016
Name: WindGustDir, dtype: float64
N      0.080833
SE     0.063846
E      0.063083
SSE    0.062643
NW     0.060147
S      0.059528
W      0.058153
SW     0.057906
NNE    0.055885
NNW    0.054860
ENE    0.053870
NE     0.052736
ESE    0.052454
SSW    0.052159
WNW    0.050969
WSW    0.048288
Name: WindDir9am, dtype: float64
SE     0.074508
W      0.069504
S      0.068239
WSW    0.065434
SSE    0.064616
SW     0.064306
N      0.061116
WNW    0.061006
NW     0.059192
ESE    0.058470
E      0.058243
NE     0.056806
SSW    0.056070
NNW    0.054104
ENE    0.054015
NNE    0.045305
Name: WindDir3pm, dtype: float64
No     0.758415
Yes    0.219167
Name: RainToday, dtype: float64
No     0.758394
Yes    0.219146
Name: RainTomorrow, dtype: float64

In [16]:
# check for cardinality in categorical variables
# cardinality = label ratio

for var in categorical:
    print(var, ' contains ', len(df[var].unique()), ' labels')

Date  contains  3436  labels
Location  contains  49  labels
WindGustDir  contains  17  labels
WindDir9am  contains  17  labels
WindDir3pm  contains  17  labels
RainToday  contains  3  labels
RainTomorrow  contains  3  labels